/* login-style.css */

/* Фон формы и цвет текста внутри формы */
form {
    background-color: #fff; /* Белый фон формы */
    color: #7d4586; /* Фиолетовый цвет текста */
    padding: 20px; /* Поля вокруг формы */
    border: 2px solid #7d4586; /* Фиолетовая рамка формы */
    border-radius: 10px; /* Скругление углов формы */
}



/* Цвет текста меток и вводимых полей */
form label,
form input {
    color: #7d4586; /* Фиолетовый цвет текста */
}

/* Дополнительные стили для акцентов */
.form-heading {
    color: #7d4586; /* Фиолетовый цвет заголовка формы */
    margin-bottom: 20px; /* Отступ снизу заголовка */
}
